header{
  background-color: #0F8BC0;
  height: 3.13em;
  overflow: hidden;
}

.intro-box{
  height: 68.75em;
  background-color: #334051;
  padding: 10.63em 0 0 0;
}

.create-website{
  color: #FDFBFC;
  font-size: 2em;
  text-align: center;
}

.wordpress{
  font-size: 1em;
}

.top-wordpress{
  margin-top: 2.81em;
}

.bottom-wordpress{
  margin-bottom: 2.06em;
}

.button-box{
  height: 3.38em;
  background-color: #1D8CBE;
  border: .69em solid #212933;
  width: 17.94em;
  margin: 0 auto;
  margin-bottom: 13.25em;
}

.small-white-box{
  height: 1.44em;
  background-color: #FFFFFF;
  margin: 0 45% 8.31em 45%;
}

.large-white-box{
  height: 4.38em;
  width: 17.94em;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 1.88em;
  box-sizing: border-box;
}

.ice-white-box{
  height: 11.88em;
  background-color: #E8F0F5;
}

.multi-white-box{
  height: 13.25em;
  background-color: #FFFFFF;
  border: 0.75em solid #D1D3D7;
  padding: 1.38em 1.06em 2.31em 1.06em;
}

.top-multi{
  border-top: 2.06em solid #D1D3D7;
}

.bottom-multi{
  border-bottom: 2.06em solid #D1D3D7;
}

.bottom-ice-white-box {
  padding: 6.06em 0 0 0;
  box-sizing: border-box;
}
.bottom-button-box{
  border: none;
  margin: 0 auto;
}

.black-footer{
  height: 8.13em;
  background-color: #000000;
  padding: 1.75em 0 0 0;
  box-sizing: border-box;
}

.footer-text{
  color: #FFFFFF;
  text-align: center;
  font-size: .8em;
  padding: 0 0 .5em 0;
}

.black-footer-white-box{
  height: 1.56em;
  background-color: #FFFFFF;
  margin: 1.19em 37% 1.19em 37%;
}

.text-padding{
  padding: 0 1em 0 1em;
}

.logo-image-box{
  height: 2em;
  width: 2em;
  background-color: #FFFFFF;
  float: left;
  margin: .56em .56em .56em 1.06em;
}

.logo-box{
  height: 2em;
  width: 7.50em;
  background-color: #FFFFFF;
  float: left;
  margin: .56em 0 .56em .56em;
}

.login-button{
  float: right;
  background-color: #0070A4;
  width: 4.69em;
  height: 3.13em;
}

.inner-denim-blue-box {
  background-color: #606E7F;
}

.left{
  height: 3.55em;
  width: 3em;
  float: left;
  margin: .83em .38em 0 0;
}

.right{
  height: 3.55em;
  width: 13.5em;
  float: right;
  margin: 0 .44em .83em .38em;
}

.info-logo{
  height: 3.88em;
  width: 3.88em;
  background-color: #C7D2D8;
  margin: 0 auto;
  margin-bottom: 1.06em;
}

.info-text1{
  background-color: #C7D2D8;
  height: 1.56em;
  width: 25.50em;
  margin: 0 auto;
  margin-bottom: 1.13em;
}

.info-text2{
  background-color: #C7D2D8;
  height: 3.06em;
  width: 25.50em;
  margin: 0 auto;
}
