header{
  background-color: #0F8BC0;
  height: 3.13em;
  overflow: hidden;
}

.intro-box{
  height: 68.75em;
  background-color: #334051;
  padding: 10.63em 0 0 0;
  background-image: url(../images/crowd.jpg);
  background-size: cover;
}

.create-website{
  color: #FDFBFC;
  font-size: 2em;
  text-align: center;
}

.wordpress{
  font-size: 1em;
}

.top-wordpress{
  margin-top: 2.81em;
}

.bottom-wordpress{
  margin-bottom: 2.06em;
}

.button-box{
  height: 3.38em;
  background-color: #1D8CBE;
  border: .69em solid RGBA(30,40,51,.7);
  background-clip: padding-box;
  width: 17.94em;
  margin: 0 auto;
  margin-bottom: 13.25em;
  color: #FFFFFF;
  text-align: center;
}

.small-white-box{
  height: 1.44em;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto 8.31em auto;
  display: block;
}

.large-white-box{
  height: 4.38em;
  width: 17.94em;
  margin: 0 auto;
  margin-bottom: 1.88em;
  box-sizing: border-box;
}

.ice-white-box{
  height: 11.88em;
  background-color: #E8F0F5;
  color: #394A5E;
  text-align: center;
}

.multi-white-box{
  height: 13.25em;
  background-color: #FFFFFF;
  border: 0.75em solid #D1D3D7;
  padding: 1.38em 1.06em 2.31em 1.06em;
}

.top-multi{
  border-top: 2.06em solid #D1D3D7;
}

.bottom-multi{
  border-bottom: 2.06em solid #D1D3D7;
}

.bottom-ice-white-box {
  padding: 1.94em 0 0 0;
  font-size:;
  box-sizing: border-box;
}
.bottom-button-box{
  border: none;
  margin: 0 auto;
  margin-top: 3.44em;
  padding-top: .2em;
}

.black-footer{
  height: 8.13em;
  background-color: #000000;
  padding: 1.75em 0 0 0;
  box-sizing: border-box;
}

.footer-text{
  color: #FFFFFF;
  text-align: center;
  font-size: .8em;
  padding: 0 0 .5em 0;
}

.black-footer-white-box{
  height: 1.56em;
  width: 8.38em;
  margin: 1.19em auto;
  background: url(../images/automattic.png) no-repeat;
  background-size: contain;
}

.text-padding{
  padding: 0 1em 0 1em;
}

.logo-image-box{
  height: 2em;
  width: 2em;
  float: left;
  margin: .56em .56em .56em 1.06em;
  background-image: url(../images/logo.png);
  background-size: contain;
}

.logo-box{
  height: 2em;
  width: 7.50em;
  float: left;
  margin: .56em 0 .56em .56em;
  padding: .5em 0 0 0;
  box-sizing: border-box;
  color: #FFFFFF;
}

.login-button{
  float: right;
  background-color: #0070A4;
  width: 4.69em;
  height: 3.13em;
  color: #FFFFFF;
  text-align: center;
  padding-top: 1em;
}

.left-info{
  height: 3.20em;
  width: 3em;
  float: left;
  margin: 0 .38em .83em 0;
}

.right-info{
  height: 3.55em;
  width: 13.5em;
  float: right;
  margin: 0 .44em .83em .38em;
  color: #FFFFFF;
}

.info-logo{
  height: 3em;
  width: 3em;
  background-color: #C7D2D8;
  margin: 0 auto;
  margin-bottom: 1.06em;
  border: 1em solid #C7D2D8;
  border-radius: 50%;
}

.info-text1{
  height: 1.56em;
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
  color: #44678B;
  font-size: 20px;
}

.info-text2{
  height: 3.06em;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
}

.end-of-text{
  color: #91C8E0;
}

.create-website-text{
  font-size: 25px;
  margin-top: 10px;
}

.bottom-right-info{
  margin-top: .3em;
  font-size: 12px;
}

.wordpress-summary{
  font-size: 25px;
  margin: 0 auto;
  display: block;
  margin-bottom: .22em;
}

.summary-top{
  padding-top: 1em;
}

.block-span{
  display: block;
  margin-top: 5px;
}

.top-left-info{
  background-image:url(../images/tablet.png);
  background-size: cover;
}

.mid-left-info{
  background-image:url(../images/newspaper.png);
  background-size: contain;
}

.bot-left-info{
  background-image:url(../images/paint-brush.png);
  background-size: contain;
  height: 3em;
}

.lightbulb{
  background-image: url(../images/lightbulb.png);
  background-size: contain;
}

.cloud{
  background-image: url(../images/cloud.png);
  background-size: contain;
}

.code{
  background-image: url(../images/code.png);
  background-size: contain;
}

.comments{
  background-image: url(../images/comments.png);
  background-size: contain;
}

.gift{
  background-image: url(../images/gift.png);
  background-size: contain;
}

.globe{
  background-image: url(../images/globe.png);
  background-size: contain;
}
